{% if drone_debug is defined %}
DRONE_DEBUG={{ drone_debug }}
{% endif %}
{% if drone_http_bind is defined %}
DRONE_HTTP_BIND={{ drone_http_bind }}
{% endif %}
{% if drone_http_host is defined %}
DRONE_HTTP_HOST={{ drone_http_host }}
{% endif %}
{% if drone_http_proto is defined %}
DRONE_HTTP_PROTO={{ drone_http_proto }}
{% endif %}
{% if drone_rpc_dump_http is defined %}
DRONE_RPC_DUMP_HTTP={{ drone_rpc_dump_http }}
{% endif %}
{% if drone_rpc_dump_http_body is defined %}
DRONE_RPC_DUMP_HTTP_BODY={{ drone_rpc_dump_http_body }}
{% endif %}
{% if drone_rpc_host is defined %}
DRONE_RPC_HOST={{ drone_rpc_host }}
{% endif %}
{% if drone_rpc_proto is defined %}
DRONE_RPC_PROTO={{ drone_rpc_proto }}
{% endif %}
{% if drone_rpc_secret is defined %}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
{% endif %}
{% if drone_rpc_skip_verify is defined %}
DRONE_RPC_SKIP_VERIFY={{ drone_rpc_skip_verify }}
{% endif %}
{% if drone_runner_capacity is defined %}
DRONE_RUNNER_CAPACITY={{ drone_runner_capacity }}
{% endif %}
{% if drone_runner_environ is defined %}
DRONE_RUNNER_ENVIRON={{ drone_runner_environ }}
{% endif %}
{% if drone_runner_max_procs is defined %}
DRONE_RUNNER_MAX_PROCS={{ drone_runner_max_procs }}
{% endif %}
{% if drone_runner_name is defined %}
DRONE_RUNNER_NAME={{ drone_runner_name }}
{% endif %}
{% if drone_secret_plugin_endpoint is defined %}
DRONE_SECRET_PLUGIN_ENDPOINT={{ drone_secret_plugin_endpoint }}
{% endif %}
{% if drone_secret_plugin_skip_verify is defined %}
DRONE_SECRET_PLUGIN_SKIP_VERIFY={{ drone_secret_plugin_skip_verify }}
{% endif %}
{% if drone_secret_plugin_token is defined %}
DRONE_SECRET_PLUGIN_TOKEN={{ drone_secret_plugin_token }}
{% endif %}
{% if drone_trace is defined %}
DRONE_TRACE={{ drone_trace }}
{% endif %}
{% if drone_ui_disabled is defined %}
DRONE_UI_DISABLED={{ drone_ui_disabled }}
{% endif %}
{% if drone_ui_password is defined %}
DRONE_UI_PASSWORD={{ drone_ui_password }}
{% endif %}
{% if drone_ui_realm is defined %}
DRONE_UI_REALM={{ drone_ui_realm }}
{% endif %}
{% if drone_ui_username is defined %}
DRONE_UI_USERNAME={{ drone_ui_username }}
{% endif %}
