{
  "toothChart": [
    {
      "description": "",
      "y": "upper",
      "x": "left",
      "num": 1,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "left",
      "num": 2,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "left",
      "num": 3,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "left",
      "num": 4,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "left",
      "num": 5,
      "updatedAt": 0
    },
    {
      "description": "Replace broken inlay with new onlay",
      "y": "upper",
      "x": "left",
      "num": 6,
      "updatedAt": 1639321200
    },
    {
      "description": "Replace old FMC with new FMC",
      "y": "upper",
      "x": "left",
      "num": 7,
      "updatedAt": 1655424000
    },
    {
      "description": "",
      "y": "lower",
      "x": "left",
      "num": 1,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "left",
      "num": 2,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "left",
      "num": 3,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "left",
      "num": 4,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "left",
      "num": 5,
      "updatedAt": 0
    },
    {
      "description": "Replace broken FMC with new FMC",
      "y": "lower",
      "x": "left",
      "num": 6,
      "updatedAt": 1658188800
    },
    {
      "description": "",
      "y": "lower",
      "x": "left",
      "num": 7,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "right",
      "num": 1,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "right",
      "num": 2,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "right",
      "num": 3,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "right",
      "num": 4,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "right",
      "num": 5,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "right",
      "num": 6,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "upper",
      "x": "right",
      "num": 7,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "right",
      "num": 1,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "right",
      "num": 2,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "right",
      "num": 3,
      "updatedAt": 0
    },
    {
      "description": "",
      "y": "lower",
      "x": "right",
      "num": 4,
      "updatedAt": 0
    },
    {
      "description": "Recover dropped CAD-CAM crown",
      "y": "lower",
      "x": "right",
      "num": 5,
      "updatedAt": 1633878000
    },
    {
      "description": "",
      "y": "lower",
      "x": "right",
      "num": 6,
      "updatedAt": 0
    },
    {
      "description": "Replace old onlay to new onlay",
      "y": "lower",
      "x": "right",
      "num": 7,
      "updatedAt": 1647561600
    }
  ]
}
